###.gitignore
# ignore allfile
/*
# ignore dotfile
/.*

# Filelist not to ignore
!/.bash_profile
!/.bashrc
!/.my_bashrc
!/.profile
!/README.md
!/.vim
!/.vimrc
!/.zshenv
!/.zshrc
#vim
!/.vimrc
!/.vim
#i3 config
!/.i3
#others config
!/.config

#dotfiles
!/bin
!/vortex_core
!/README.md
!/.gitmodule
!/.gitignore
!/.gitignore_global_
# After all filelist to ignore
/.vim/bundle/*
/.config/qutebrowser/qsettings/QtProject.conf
/.config/qutebrowser/bookmarks/urls
/.config/qutebrowser/quickmarks
/.config/ranger/__pycache__/*
/.config/ranger/plugins/__pycache__/*

#!/.vim/bundle/neobundle.vim
