###.gitignore
# ignore allfile
/*
# ignore dotfile
/.*

# Filelist not to ignore
!/.bash_profile
!/.bashrc

#vim
!/.vimrc
!/.vim

#dotfiles
!/bin
!/README.md
!/.gitmodule
!/.gitignore

# After all filelist to ignore
/.vim/bundle/*
!/.vim/bundle/neobundle.vim
